---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Diciembre 2023",
    title: "Desarrollador BackEnd (Práctica Profesional) - No Country",
    description:
      "Fui responsable de desarrollar e implementar soluciones BackEnd para la WebApp MVP destinada a la reservación de mesas en restaurantes (“Epicureos”). Trabajé en colaboración con un equipo multidisciplinario para garantizar la eficiencia y la funcionalidad del sistema, utilizando tecnologías como NodeJs, Express, Sequelize, JWT y PostgreSQL. Trabajé satisfactoriamente bajo la metodología SCRUM, ayudando en la comunicación constante, colaboración y mejora continua con el equipo.",
  },
  {
    date: "Febrero 2024",
    title: "Desarrollador BackEnd (Práctica Profesional) - No Country",
    description:
      "Responsable de ",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
