---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Diciembre 2023 - Enero 2024",
    title: "Desarrollador BackEnd (Práctica Profesional) - No Country",
    description:
      "Fui responsable de desarrollar e implementar soluciones BackEnd para la WebApp MVP destinada a la reservación de mesas en restaurantes (“Epicureos”). Trabajé en colaboración con un equipo multidisciplinario para garantizar la eficiencia y la funcionalidad del sistema, utilizando tecnologías como NodeJs, Express, Sequelize, JWT y PostgreSQL. Trabajé satisfactoriamente bajo la metodología SCRUM, ayudando en la comunicación constante, colaboración y mejora continua con el equipo.",
  },
  {
    date: "Enero - Febrero 2024",
    title: "Desarrollador BackEnd (Práctica Profesional) - No Country",
    description:
      `Colaboré con un equipo multidisciplinario en el desarrollo de un proyecto utilizando la metodología ágil SCRUM para la gestión del ciclo de vida del software.
Lideré las tareas relacionadas con el desarrollo del backend, implementando soluciones escalables y eficientes utilizando Node.js y Express.
Contribuí activamente en la resolución de conflictos técnicos y la toma de decisiones como líder técnico del equipo.
Trabajé en estrecha colaboración con los desarrolladores de Frontend para garantizar una integración fluida entre el frontend y el backend.
Participé en reuniones de planificación, retrospectivas y demostraciones, asegurando una comunicación efectiva y una alineación constante entre los miembros del equipo.`,
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
