---
import Git from "./icons/GIT.astro"
import Node from "./icons/Node.astro"
import Postgre from "./icons/Postgre.astro"
import MongoDB from "./icons/MongoDB.astro"
import Express from "./icons/Express.astro"
import Swagger from "./icons/Swagger.astro"
import Sequelize from "./icons/Sequelize.astro"
import JavaScript from "./icons/JavaScript.astro"
---

<div class="container mx-auto">
    
    <div class="grid grid-cols-2 gap-8">
      <!-- Habilidades Técnicas -->
      <div>
        <h3 class="text-xl font-semibold mb-2">Habilidades Técnicas</h3>
        <ul class="flex flex-wrap">
          <li class="flex mb-2 w-full sm:w-1/2"><JavaScript class="mr-2 size-6"/>JavaScript</li>
          <li class="flex mb-2 w-full sm:w-1/2"><Node class="mr-2 size-6"/>Node.js</li>
          <li class="flex mb-2 w-full sm:w-1/2"><Express class="mr-2 size-6"/>Express.js </li>
          <li class="flex mb-2 w-full sm:w-1/2"> <Git class="mr-2 size-6"/>Git</li> 
          <li class="flex mb-2 w-full sm:w-1/2"><MongoDB class="mr-2 size-6"/>MongoDb</li>
          <li class="flex mb-2 w-full sm:w-1/2"><Postgre class="mr-2 size-6"/>PostgreSql</li>
          <li class="flex mb-2 w-full sm:w-1/2"><Sequelize class="mr-2 size-6"/>Sequelize</li>
          <li class="flex mb-2 w-full sm:w-1/2"><Swagger class="mr-2 size-6"/>Swagger</li>
          <!-- Agrega más habilidades técnicas aquí según sea necesario -->
        </ul>
      </div>
  
      <!-- Habilidades Blandas -->
      <div>
        <h3 class="text-xl font-semibold mb-2">Habilidades Blandas</h3>
        <ul class="flex flex-wrap">
          <li class="mb-2 w-full sm:w-1/2">Comunicación</li>
          <li class="mb-2 w-full sm:w-1/2">Trabajo en Equipo</li>
          <li class="mb-2 w-full sm:w-1/2">Resolución de Problemas</li>
          <li class="mb-2 w-full sm:w-1/2">Empatía</li>
          <!-- Agrega más habilidades blandas aquí según sea necesario -->
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-2">Otras Habilidades</h3>
        <ul class="flex flex-wrap">
          <li class="mb-2 w-full sm:w-1/2">Windows Terminal</li>
          <li class="mb-2 w-full sm:w-1/2">Linux</li>
          <li class="mb-2 w-full sm:w-1/2">Visual Studio Code</li>
          <!-- Agrega más habilidades blandas aquí según sea necesario -->
        </ul>
      </div>
    </div>
  </div>